@import "var";

body {
  font-size: 1.25em;
  font-family: $font;
  color: $darkestGray;
  background-color: $white;
  font-weight: 300;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: $middleGray;
  font-weight: 400;
}

a:hover {
  color: $lightestGray;
  font-weight: 400;
}

header {
  padding: 20px;
  h1 {
    font-size: 3em;
    font-weight: 800;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 300;
  }
  nav {
    padding: 20px 0px;
    ul li {
      display: inline;
      padding: 0px 10px;
    }
    a {
      color: $lightestGray;
      font-weight: 400;
      padding: 5px 10px;
      margin: 0px 10px;
    }
    a:hover {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      color: $lime;
    }
  }
}

article {
  line-height: 1.6em;
  padding: 20px;
  p {
    padding: 10px 0px;
  }
  h1 {
    font-size: 2em;
    padding: 30px 0px 10px 0px;
    font-weight: 700;
  }
  h2 {
    padding: 30px 0px 10px 0px;
    font-size: 1.75em;
    font-weight: 700;
  }
  ol li {
    list-style-type: decimal;
    margin: 0px 50px;
    padding: 10px;
  }
}
