@font-face {
  font-family: 'EntypoRegular';
  src: url("../font/Entypo-webfont.eot");
  src: url("../font/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Entypo-webfont.woff") format("woff"), url("../font/Entypo-webfont.ttf") format("truetype"), url("../font/Entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 5, ../sass/main.scss */
html, button, input, select, textarea,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  font-family: "clavo", "Georgia", serif;
}

/* line 7, ../sass/main.scss */
body {
  font-size: 1.25em;
  font-family: "clavo", "Georgia", serif;
  color: #272727;
  background-color: #f4f4f4;
  font-weight: 300;
}

/* line 15, ../sass/main.scss */
a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 24, ../sass/main.scss */
a:hover {
  color: #f25c65;
}

/* line 28, ../sass/main.scss */
code {
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
  padding: 5px;
}

/* line 34, ../sass/main.scss */
ol, ul, li {
  margin: 0px 20px;
  padding: 10px;
}

/* line 39, ../sass/main.scss */
footer {
  font-size: 0.8em;
  padding: 40px 0px;
}

/* line 44, ../sass/main.scss */
.symbol {
  font-family: 'EntypoRegular';
  font-size: 2em;
  padding: 0px 5px;
}

/* line 50, ../sass/main.scss */
header {
  padding: 20px;
}
/* line 52, ../sass/main.scss */
header h1, header h2, header h3 {
  text-align: center;
  padding: 20px 0px;
}
/* line 56, ../sass/main.scss */
header h1 {
  font-size: 3em;
  font-weight: 800;
  color: #f25c65;
}
/* line 61, ../sass/main.scss */
header h2 {
  font-size: 2.5em;
  font-weight: 300;
}
/* line 65, ../sass/main.scss */
header h3 {
  font-size: 1.25em;
}
/* line 68, ../sass/main.scss */
header a {
  padding: 20px;
}
/* line 71, ../sass/main.scss */
header a:before {
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 1.5em;
  padding: 0px 10px;
}

/* line 79, ../sass/main.scss */
article {
  line-height: 1.6em;
  padding: 20px;
  margin-bottom: 20px;
  border-top: 1px dotted #5b5b5b;
}
/* line 84, ../sass/main.scss */
article p {
  padding: 10px 0px;
}
/* line 87, ../sass/main.scss */
article h1 {
  font-size: 2em;
  padding: 30px 0px 10px 0px;
  font-weight: 700;
}
/* line 92, ../sass/main.scss */
article h2 {
  padding: 30px 0px 10px 0px;
  font-size: 1.6em;
  font-weight: 300;
}
/* line 97, ../sass/main.scss */
article ul li:before {
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 1.5em;
  padding: 0px 10px;
}
